<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1>Welcome to Tindar: the optimal matchmaker!</h1>
  <div style="display: inline-block; width: 25%; border: solid; padding: 2%; border: solid; vertical-align:top">
    <h2>Introduction</h2>
    <p>
        I love working on Data Science, Machine Learning, and Operations Research problems,
        but I also see around me that many projects never really lift off. I use the Tindar project
        to prove to myself and others that the technical aspect should not be the limiting factor.
        I use this projects to practice my end-to-end skills and share my findings with, well,
        anyone really. Especially anyone who is interested in Operations Research, API's, and Serverless
        Technology :).<br><br>

        This is a Dockerized Flask web application served by Gunicorn running on GCP Cloud Run.
        Take a look at <a href="https://github.com/lennart-damen/tindar">this Github repository</a>
        for the source code and other documentation.<br><br>

        Feel free to <a href="https://www.linkedin.com/in/lennart-damen/">connect</a>, I would love to hear
        your feedback!<br><br>

        P.S.: These webpages are purely functional. Please forgive the plain HTML's, it's not their fault that they're ugly.
    </p>
  </div>

  <div style="display: inline-block; width: 25%; border: solid; padding: 2%; border: solid; vertical-align:top">
      <h2>the Tindar Challenge</h2>
      <h3>Challenge</h3>
      <p>
        Suppose you owned a dating company. Once every week, people come to your venue to find their
        ideal partner. During the speed-dating round, every person expresses if he/she would like
        to meet his/her date in real-life in the next week. Your people have busy schedules,
        so they can only go on a real date with a single person.<br><br>
        
        Your job is to make your community as happy as possible by pairing up as many users as you can.
        You can only pair people if there is mutual interest. Tindar is monogamous: no threesomes, and
        self-love doesn't count.
      </p>

      <h3>Solution</h3>
      <p>
          As explained in the <a href="https://github.com/lennart-damen/tindar/tree/master/documentation">Github documentation</a>,
          the Tindar community can be represented as a graph with the people as nodes and the edges for interest.
          This problem is then readily defined as a Binary Linear Problem, which can theoretically be solved with algorithms such as
          Branch and Bound. In practice, we use the <a href="https://coin-or.github.io/pulp/">PuLP library</a>
          which does the optimisation for us. I have also developed a heuristic as a baseline to compare PuLP against.
      </p>
  </div>

  <div style="display: inline-block; width: 25%; border: solid; padding: 2%; border: solid; vertical-align:top">
    <h2>Web Components</h2>
    <p>
        Apart from this homepage, you can visit:
        <ul>
            <li>.../api<br>for explanation on how to generate and solve Tindar problems</li><br>
            <li> 
                .../api/generate<br>by making a GET request with a query string.<br>
                You will receive a JSON file back with a randomly generated Tindar problem
                and some extra parameters.*
            </li><br>
            <li>
                .../api/solve<br>by making a JSON POST request of a Tindar problem. You will receive a JSON file back with
                the solution to the Tindar problem that you posted.*
            </li><br>
            <li>
              .../report, make a GET request to get the Tindar report as PDF with a full explanation on the Tindar challenge,
              the optimisation model, the PuLP and heuristic solutions, a comparison of their performance, and an overview of
              the deployment process.
            </li>
            <!-- <li>
              .../results, a short summary of the results in your browser
            </li> -->
        </ul><br>
        <small>*If you make a simple GET request, you will receive the same HTML as .../api.</small>
    </p>
  </div>


</body>

</html>